@model TConsultigSA.Models.EmpleadoViewModel

<div>
    <p><strong>DPI:</strong> @Model.Empleado.DPI</p>
    <p><strong>Nombre:</strong> @Model.Empleado.Nombre</p>
    <p><strong>Fecha de Contratación:</strong> @Model.Empleado.FechaContratado.ToString("dd/MM/yyyy")</p>
    <p><strong>Puesto:</strong> @Model.NombrePuesto</p>
    <p><strong>Departamento:</strong> @Model.NombreDepartamento</p>
    <p><strong>Email:</strong> @Model.Empleado.Email</p>
    <p><strong>Teléfono:</strong> @Model.Empleado.Telefono</p>
    <p><strong>Dirección:</strong> @Model.Empleado.Direccion</p>
</div>
