<!-- Asegúrate de que esta vista parcial solo contiene el contenido del Drawer -->
<div id="drawer" class="bg-light border-right">
    <div class="sidebar-heading">TConsultigSA </div>
    <div class="list-group list-group-flush">
        <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action bg-light">Inicio</a>
        <a href="@Url.Action("Index", "Empleados")" class="list-group-item list-group-item-action bg-light">Empleados</a>
        <a href="@Url.Action("Index", "Roles")" class="list-group-item list-group-item-action bg-light">Roles</a>
        <a href="@Url.Action("Index", "Permisos")" class="list-group-item list-group-item-action bg-light">Permisos</a>
        <a href="@Url.Action("Index", "Departamentos")" class="list-group-item list-group-item-action bg-light">Departamentos</a>
    </div>
</div>
